@import "setup";
@import "vars";
@import "fonts";

body {font-family: $basefont;}

a {
	color: inherit;
	text-decoration: none;
}
ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
.highlight {
	color: $primary;
}

header {
	background: linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0.1)),url(../assets/Main.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 5%;
	color: $secondary;
	text-align: center;
	a {
		display: block;
		padding: 6%;
		border-bottom: 1px solid $third;
		&:hover {
			border-bottom: 1px solid $secondary;
		}
	}
	li {
		width: 200px;
	}

}
.title {
	text-align: center;
}
.top {
	width: 100%;
}

// About Section
.about {
	padding: 100px 5%;
	.left {
		width: 50%;
		float: left;
	}
	.right {
		@extend .left;
		padding: 0 5%;
		padding-top: 160px;
	}
	p { 
		padding: 7px;
	}
	img {
		max-width: 100%;
	}
}

// Gallery Section
.container {
	padding-bottom: 100px;
	h3 {
		float: right;
		width: 50%;
		margin: 0 5%;
		text-align: right;
		margin-bottom: 20px;
	}
	h4 {
		color: $secondary;
		font-weight: 400;
	}
	h5 {
		margin-top: 15px;
		color: $primary;
		font-weight: 600;
	}
	img {
		height: 500px;
		padding: 25px;
		display: block;
	}
	figure {
		position: relative;
		&:hover figcaption {
			display: block;
		}
	}
	figcaption {
		position: absolute;
		top: 25px; bottom: 25px; right: 25px; left: 25px;
		background-color: rgba(0,0,0,0.7);
		text-align: center;
		padding: 0 10%;
		padding-top: 25%;
		display: none;
	}
}
.gallery {
	clear: both;
}

// Menu Section
.menu {
	padding: 0 5%;
	padding-bottom: 100px;
	.wrapper {
		padding: 0 10%;
	}
	.page, .food, ol {
		width: 100%;
	}
	.page {
		height: auto;
	}
	.food ol {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
	}
	.food li {
		width: calc(50% - 50px);
		margin-bottom: 40px;
		margin-right: 50px;
	}
	.item {
		display: flex;
		justify-content: space-between;
		span {
			color: $primary;
		}
	}
	h6 {
		color: $primary;		
	}
	img {
		width: 100px;
	}
}


@media (max-width:1016px) {
	header {
		h1, h2 {
			font-size: 60px;
			letter-spacing: 20px;
		}
		ul {
			flex-direction: column;
			align-items: center;
		}
		li {
			margin: 0;
			width: 200px;
		}
	}
	.about {
		.left {
			width: 100%;
		}
		.right {
			display: none;
		}
	}
	.container {
		h3 {
			width: 90%;
		}
	}
	.menu {
		.page li {
			width: calc(100% - 50px);
		}
	}
}
@media (max-width: 590px) {
	.container {
		img {
			height: 350px;
		}
	}
	.menu .wrapper {
		padding: 0;
		ol {
			padding: 0;
		}
		li {
			margin-right: 0;
		}
	}
}