@import "setup";
@import "vars";
@import "fonts";

body {font-family: $basefont;}

a {
	color: inherit;
	text-decoration: none;
}
ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
.highlight {
	color: $primary;
}

header {
	background: linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0.1)),url(../assets/Main.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 5%;
	color: $secondary;
	text-align: center;
	a {
		display: block;
		padding: 6%;
		border-bottom: 1px solid $third;
		transition: 0.2s;
		&:hover {
			border-bottom: 1px solid $secondary;
		}
	}
	li {
		width: 200px;
	}

}
.title {
	text-align: center;
}
.top {
	width: 100%;
}

// About Section
.about {
	padding: 100px 5%;
	.description {
		position: relative;
	}	
	.left {
		width: 50%;
		float: left;
	}
	.right {
		@extend .left;
		padding: 0 5%;	
	}
	p { 
		padding: 7px;
	}
	img {
		max-width: 100%;
	}
	label {
		top: -70px;
		right: 0;
		position: absolute;
		color: $primary;
		border: 1px solid $primary;
		padding: 5px;
	}
	.toggle1 {
		right: 100px;
	}
	.toggle {
		display: none;
	}
	.finnish {
		display: none;
	}
	input#toggle1:checked {
		& ~ .finnish {
			display: block;
		}
		& + label {
			background-color: $primary;
			color: $secondary;
			transition: 0.2s;
		}
	}
	.english {
		display: none;
	}
	input#toggle2:checked {
		& ~ .english {
			display: block;
		}
		& + label {
			background-color: $primary;
			color: $secondary;
			transition: 0.2s;
		}
	}
}

// Gallery Section
.container {
	padding-bottom: 100px;
	h3 {
		float: right;
		width: 50%;
		margin: 0 5%;
		text-align: right;
		margin-bottom: 20px;
	}
	h4 {
		color: $secondary;
		font-weight: 400;
	}
	h5 {
		margin-top: 15px;
		color: $primary;
		font-weight: 600;
	}
	img {
		height: 500px;
		padding: 25px;
		display: block;
	}
	figure {
		position: relative;
		&:hover figcaption {
			display: block;
		}
	}
	figcaption {
		position: absolute;
		top: 25px; bottom: 25px; right: 25px; left: 25px;
		background-color: rgba(0,0,0,0.7);
		text-align: center;
		padding: 0 10%;
		padding-top: 25%;
		display: none;
	}
}
.gallery {
	clear: both;
}

// Menu Section
.menu {
	padding: 0 5%;
	padding-bottom: 100px;
	.wrapper {
		padding: 0 10%;
	}
	.page, .food, ol {
		width: 100%;
	}
	.food ol {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
	}
	.food li {
		width: calc(50% - 50px);
		margin-bottom: 40px;
		margin-right: 50px;
		&:hover .item{
			border-bottom: 1px solid $primary;
		}
	}
	.item {
		display: flex;
		justify-content: space-between;
		span {
			color: $primary;
		}
	}
	h6 {
		color: $primary;		
	}
	img {
		width: 100px;
	}
}

// Contact Section
.contact {
	margin: auto;
	width: 1016px;
	padding-bottom: 100px;
	.information {
		display: flex;
		justify-content: space-around;		
	}
	.column1 {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 50%;
	}
	.part {
		display: flex;
		align-items: center;
		margin-left: 40px;
		span {
			position: relative;
		}
		p {
			margin-left: 30px;
		}
	}
	i {
		border: 1px solid $primary;
		border-radius: 50%;
		padding: 20px;
	}
	h5 {
		margin-top: 5px;
		font-weight: 500;
		color: $primary;
		text-align: center;
		position: absolute;
		right: 50%;
		transform: translateX(51%);
	}
	a:hover {
		text-decoration: underline;
		color: lighten($primary, 15);
	}
}
.mobile {
	display: none;
}

// Footer Section
footer {
	padding: 3%;
	background: linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0.1)),url(../assets/footer.jpg);
	background-size: cover;
	color: $secondary;
	display: flex;
	align-items: center;
	.logo, nav, .social {
		width: 33.33%;
		float: left;
		text-align: center;
	}
	h4 {
		font-family: 'Playfair Display', serif;
		font-weight: 300;
		letter-spacing: 10px;
	}
	ul {
		flex-wrap: wrap;		
	}
	a {
		padding: 2%;
		&:hover {
			text-decoration: underline;
		}
	}
}

@media (max-width:1016px) {
	header {
		ul {
			flex-direction: column;
			align-items: center;
		}
		li {
			margin: 0;
			width: 200px;
		}
	}
	.about {
		.left {
			width: 100%;
		}
		.right {
			display: none;
		}

	}
	.container {
		h3 {
			width: 90%;
		}
	}
	.menu {
		.page li {
			width: calc(100% - 50px);
		}
	}
	.contact {
		width: 90%;
		.information {
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}
		.column1 {
			flex-direction: row;
			width: 100%;
			align-items: flex-start;
		}
		.part {
			margin-top: 40px;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			p {
				margin-left: 0;
			}
		}
		h5 {
			display: none;
		}

	}
}
@media (max-width: 590px) {
	.container {
		img {
			height: 350px;
		}
	}
	.about {
		.toggle1 {
			top: -84px;
			right: 0px;
		}
		.toggle2 {
			top: -50px;
		}
	}
	.menu .wrapper {
		padding: 0;
		ol {
			padding: 0 10px;
		}
		.food li {
			margin-right: 0;
			width: 100%;
		}
		img {
			width: 60px;
		}
	}
	.contact {
		.column1 {
			flex-direction: column;
			align-items: center;
		}
		.part {
			margin-top: 10px;
			margin-left: 0;
		}
	}
	.non-mobile {
		display: none;
	}
	.mobile {
		display: block;
		margin-bottom: 20px;
	}
	footer {
		display: flex;
		flex-direction: column;
		.logo {
			width: 100%;
			text-align: center;
			margin: auto;
		}
		nav, .social {
			width: 100%;
		}
		ul {
			flex-direction: column;
		}
	}
}